* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @include tablet {
    font-size: 12px;
  }
}

body {
  font-family: 'Mitr', sans-serif;
  background-color: map-get($colors, main-color);
  color: map-get($colors, text-color);
}

.container {
  $columnNum: 12;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @for $i from 1 through $columnNum {
    .col-#{$i} {
      width: (100%/$columnNum * $i);
    }
  }

  @include tablet {
    flex-direction: column;
    [class*="col-"] {
      width: 100%;
    }
  }

  @include mobile {
    flex-direction: column;
    [class*="col-"] {
      width: 100%;
    }
  }
}

.visuallyhidden { /* ukrywa labele */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}