.footer {
  color: white;
  height: 120px;
  padding: 20px 30px;
  display: block;
  h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 0px 0px 10px 0px;
  }
  img{
    height: 40px;
  }
}