.forecast {
  color: white;
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  h2{
    padding: 20px 0px 5px 0px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
  }
}